<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta ciudadana</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Alerta ciudadana</h1>
                <p>
                    Hola <strong><%=user.name%></strong>
                </p>
                <p>
                    <strong>Te invitamos a que revises tu reto, pues un ciudadano te ha mndado una respuesta.</strong>
                </p>
            </div>
        </div>
        <p>
</body>

</html>